body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f2f5;
  max-height: 100vh;
}
main {
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.lado-esquerdo {
  margin-top: -100px;
  width: 500px;
  background-color: #f0f2f5;
}
.lado-esquerdo .titulo p {
  margin-bottom: 16px;
  text-align: left;
  color: #1877f2;
  font-size: 60px;
  font-weight: 1000;
}
.lado-esquerdo .texto {
  font-size: 17px;
  font-weight: normal;
  background-color: #f0f2f5;
}
.lado-direito {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 500px;
  background-color: #f0f2f5;
}
.lado-direito .caixa-login {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 330px;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);
}

.lado-direito .caixa-login input {
  width: 98%;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  margin-top: 10px;
  height: 50px;
  background-color: #fff;
  padding-left: 15px;
  font-size: 16px;
}
input:focus {
  outline: 1px solid #1b74e4;
}

.lado-direito .caixa-login .btn1 {
  margin-top: 15px;
  border: none;
  margin-bottom: 16px;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  background-color: #1877f2;
}
.lado-direito .caixa-login .btn2 {
  background-color: #eb160f;
  height: 50px;
  width: 45%;
  border-radius: 6px;
  border: none;
  background-color: #42b72a;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
.lado-direito .texto2 p {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input::placeholder {
  font-size: 16px;
}
hr {
  width: 100%;
  color: #dadde1;
  margin: 20px 16px;
}

@media (max-width: 1060px) {
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .lado-esquerdo .titulo p {
    text-align: center;
  }

  .lado-direito .caixa-login {
    margin: 0;
  }
}
